{% extends "base.html" %}
{% block body %}
<form
      hx-ext="ws"
      ws-connect="/response-stream"
      ws-send

      data-autosave>

    <div class="px-20 py-10">
        <h1 class="text-xl font-bold mb-2">Frases - Ideas</h1>

        <div class="mb-3 flex flex-col">
            <div class="flex">
                <label for="receptor" class="text-lg">Ingresa a quien va dirigido</label>
                <p>*Puedes dar detalle del rol que ejerce o el grado en que conoces a esa persona</p>
            </div>
            <input name="receptor" id="receptor" class="rounded-full border-2 p-1">
        </div>
        <div class="mb-3 flex flex-col">
            <div class="flex">
                <label for="emisor" class="text-lg">Ingresa quién está enviando el mail</label>
                <p>*Puedes dar detalle de cómo se relaciona con el receptor del mensaje o algún antecedente importante
                </p>
            </div>
            <input name="emisor" id="emisor" class="rounded-full border-2 p-1">
        </div>

        <div class="mb-3 flex flex-col">
            <div class="flex">
                <label for="solicitud" class="text-lg">Ingresa qué se está solicitando</label>
                <p>*Da detalles de la solicitud como nombres y especificaciones relevantes
                </p>
            </div>
            <input name="solicitud" id="solicitud" class="rounded-full border-2 p-1">
        </div>

        <div class="mb-3 flex flex-col">
            <div class="flex">
                <label for="contexto" class="text-lg">Ingresa contexto</label>
                <p>*Da contexto de la solicitus o detalles especiales a considerar
                </p>
            </div>
            <input name="contexto" id="contexto" class="rounded-full border-2 p-1">
        </div>
        <div class="flex mb-3 gap-2">
            <label for="formalidad">Nivel de formalidad</label>
            <select name="formalidad" id="formalidad"
                    class="rounded-full p-1 px-5 bg-blue-600 text-white ">
                <option>Casual</option>
                <option>Formal</option>


            </select>
            <label for="extension">Extensión</label>

            <select name="extension" id="extension" class="rounded-full p-1 px-5 bg-blue-600 text-white ">
                <option>Breve</option>
                <option>Medio</option>
                <option>Largo</option>
            </select>
            <label for="despedida">Despedida</label>
            <select name="despedida" id="despedida" class="rounded-full p-1 px-5 bg-blue-600 text-white ">
                <option value="">-</option>
                <option>Atentamente</option>
                <option>Saludos</option>
                <option>Saludos cordiales</option>
                <option>¡Gracias!</option>
                <option>Chaolín bombín</option>
            </select>
        </div>
        <div>
            <button class="rounded-full mb-3 bg-yellow-400 p-2 mx-auto px-8">
                Enviar
            </button>
        </div>
        <div id="response" class="">
            <h1 class="font-bold mb-3 text-lg">Respuesta:</h1>
            <p id="response-content" class="whitespace-pre-wrap w-2/3 align-justify"></p>

            <div id="spinner" class="htmx-indicator flex justify-center">
                <div class="lds-dual-ring"></div>
            </div>
        </div>
    </div>
</form>


{% endblock body %}