{% extends "base.html" %}
{% block body %}


<div class="flex pt-10 gap-4">
    <div class="border-l-0 border-8 border-yellow-500 w-full text-lg p-10">
        <h1 class="font-bold mb-2">¿Qué es el método Montoya?</h1>
        <p>
            Oscar Montoya desarrolló una estrategia de comunicación que se puede utilizar para redactar mails eficientes
            y
            que
            impulsen una mejor comunicación.

            Esta redacción se basa en:
        </p>
        <ol>
            <li>
                1. Saludo
            </li>
            <li>
                2. Presentación.
            </li>
            <li>
                3. Exposición del caso.
            </li>
            <li>

                4. Requerimiento.
            </li>
        </ol>
    </div>

    <div class="border-8 border-transparent p-10 ">
        <h2 class="font-bold">Un ejemplo podría ser:</h2>
        <div class="p-3 italic">
            <p>
                Estimado profesor,</p>
            <br>
            <p class="text-justify"> Junto con saludarle, mi nombre es Juan Montoya y soy estudiante del curso IIC2587
                este
                semestre. Esta semana
                estuve muy
                complicado por temas de salud y no pude realizar la tarea. Es por esto que, le solicito amablemente si
                me
                puede extender
                el plazo.</p>
            <br>
            <p>Saludos,</p>
            <br>
            <p>Juan Montoya
            </p>

        </div>
        <p class="">
            Es por esto que te invitamos a utilizar Montoya Mail Generator para una mejor redacción de mails gracias a
            una
            integración con ChatGPT.


            ¡Haz click en <a class="underline text-blue-600 hover:text-blue-800 visited:text-purple-600"
               href="/preexistente">aquí</a> para probarlo o utiliza la barra de navegación!
        </p>
    </div>
</div>


{% endblock body %}